// In this scss you can overwrite all our scss, we suggested you to add your scss into this, so whenever the update comes it will not affect your code.
@import '../css/brands-icon.scss';
@import '../css/spinner';
@import '../css/landing';
@import '../css/home';
@import '../css/skills';
@import '../css/works-n-play';
@import '../css/contact-us';
// .login-register{
//     background-image: url('../images/background/login-register.jpg');
// }
body{
    background-color: $white;
    height: 100vh;
}
.main-body-container{
    height: inherit;
}
.nav-link{
    // background-color: $white;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
    color: rgba($color: $black, $alpha: 0.3);

    &:hover{
        color: rgba($color: $black, $alpha: 1);
    }
    &.active-cls{
        color: #d65cb0;
    }
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}
  
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}