/*******************
icons path
*******************/
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Material Design Icons';
    src: url('../fonts/materialdesignicons-webfont.ttf') format('truetype');
}