@mixin bgproperties {
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: left;
    // height: 100px;
    background-origin: content-box;
    // border: 1px solid #cccccc;
    padding: 20px 0px;
}
.mastercard{
    @include bgproperties();
    background-image: url('../../assets/images/mc_hrz_pos.svg'); 
    // background-size: 200px;
    height: 41px;
}

.bpi{
    @include bgproperties();
    background-image: url('../../assets/images/bpi.svg');
    background-position: -32px;  
}

.globant{
    @include bgproperties();
    background-image: url('../../assets/images/globant.svg'); 
}
.autodesk{
    @include bgproperties();
    background-image: url('../../assets/images/autodesk.svg'); 
}