.home-page{
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    .w3l-head{
        color: #000;
        font-size: 2.6rem;
        font-weight: 300;
        letter-spacing: 0px;
        margin-bottom: 4rem;
        text-align: center;
        position: relative;
    }
    
    .title-head{
        background: #d65cb0;
        padding: 0px 10px;
        color: #fdfdfd;
        display: inline-block;
        margin-right: 1px;
    }
    h3.w3l_head{
        color: #0c0c0c;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 1.5em;
        letter-spacing: 2px;
    }
    .skills {
        padding: 0 4em;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        @media only screen and (max-width : 768px) {
            padding: 0em;
        }
        .skill-agile{
            margin-top: 2em;
            p{
                color: #0670ad;
                font-weight: 400;
                font-size: 1em;
                letter-spacing: 1px;
                text-align: right;
            }
            .progress{
                border-radius: 0px;
                background-color: #0670ad;
                margin-bottom: 1em;
                .progress-bar{
                    background-color: #d65cb0;
                }
            }
        }
    }

    .wthree-title-list{
        color: #0d2d3e;
        margin-right: 0.5em;
        font-size: 1.8rem;
    }

    .experience{
        border-left: 4px solid #dcdcdc;
        @media only screen and (max-width : 768px) {
            border-left: 0px;
        }
    }
    .agileits-skill-agile{
        margin-top: 2rem;
    }
    .education {
        h3{
            text-align: right;
            @media only screen and (max-width : 768px) {
                text-align: left;
            }
        }
    }
    .education-w3l{
        padding: 2rem 4rem;
        @media only screen and (max-width : 768px) {
            padding: 2rem 0rem;
        }
        .education-agile-w3l{
            margin-top: 2rem;
            .education-agile-w3l-year{
                h4{
                    font-size: 1em;
                    text-transform: capitalize;
                    color: #0b9bee;
                    font-weight: 400;
                }
                h4.pull-right{
                    @media only screen and (max-width : 768px) {
                        display: none;
                    }
                }
                .wthree-title-list{
                    font-size: 1.2rem;
                }
            }
        }
    }
}