.landing-body{
    // background: url('../images/background/img5.jpg') no-repeat bottom left;
    // background-size: cover;
    background-color: #066093;
    overflow: hidden;
    .agile-nav{
        margin: 2rem 0 0;
        a{
            float: right;
            color: #fff;
            font-size: 1em;
            text-transform: capitalize;
            letter-spacing: 2px;
            background: #0670ad;
            padding: 0.5em 1em;
            border: 1px solid #066093;
        }
    }

    .landing-page-description{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
        color: $white;

        .baner-bubble{
            display: inline-block;
            background: #ffffff;
            color: #066093;
            font-weight: 300;
            padding: 0.3em 0.7em;
            font-size: 1rem;
            position: relative;
            border-radius: 5px;
            &::before{
                content: '';
                position: absolute;
                left: 43%;
                bottom: -14px;
                border-left: 0px solid transparent;
                border-right: 11px solid transparent;
                border-bottom: 14px solid #FFF;
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
            }
        }
    }

    .btn-bg-color{
        background-color: #d65cb0;
    }
}