.skills-page {
    .w3l-head{
        color: #000;
        font-size: 2.6rem;
        font-weight: 300;
        letter-spacing: 0px;
        margin-bottom: 4rem;
        text-align: center;
        position: relative;
    }
    
    .title-head{
        background: #d65cb0;
        padding: 0px 10px;
        color: #fdfdfd;
        display: inline-block;
        margin-right: 1px;
    }
    h3.w3l_head{
        color: #0c0c0c;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 1.5em;
        letter-spacing: 2px;
    }
    .progress{
        border-radius: 0px;
        background-color: #0670ad;
        margin-bottom: 1em;
        .progress-bar{
            background-color: #d65cb0;
        }
    }
}